---
layout: default
---

<div class="entirety">
  <!-- post -->
  <div class="left">
    <div class="browser">
      <article
        class="post"
        id="post"
        itemscope
        itemtype="http://schema.org/BlogPosting"
      >
        {{ content }}
      </article>
    </div>
  </div>
  <!-- archive -->
  <div class="archive">
    <div class="browser">
      <div class="post">
        asdfasdfadsf asdfasdfadsfa sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa
        sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a
        aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa
        sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a
        aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa
        sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a
        aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa
        sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a
        aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa
        sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a
        aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa
        sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a
        aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa
        sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a
        aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa
        sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a
        aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa
        sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a
        aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa
        sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a
        aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa
        sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a
        aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa
        sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a
        aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa
        sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a
        aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a ay
      </div>
    </div>
    <div class="toolbar">
      <div class="tool">
      <a>
        <i class="fa fa-tag"></i>
      </a>  
      </div>
      <div class="tool">
        <a>ADP</a>
      </div>
      <div class="tool">
        ADP
      </div>
      <div class="tool">
        ADP
      </div>
      <div class="tool">
        ADP
      </div>
      <div class="tool">
        ADP
      </div>
      <div class="tool">
          ADP
        </div>
        <div class="tool">
            ADP
          </div>
          <div class="tool">
              ADP
            </div>
            <div class="tool">
                ADP
              </div>
              <div class="tool">
                  ADP
                </div>
                <div class="tool">
                    ADP
                  </div>
                  <div class="tool">
                      ADP
                    </div>

    </div>
  </div>
  <!-- outline -->
  <div class="outline">
    <div class="browser">
      <div class="post">
        asdfasdfadsf asdfasdfadsfa sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa
        sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a
        aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa
        sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a
        aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa
        sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a
        aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa
        sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a
        aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa
        sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a
        aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa
        sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a
        aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa
        sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a
        aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa
        sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a
        aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa
        sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a
        aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa
        sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a
        aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa
        sdfasdfasdf a a aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a
        aasdfasdfadsf asdfasdfadsfa sdfasdfasdf a a a
      </div>
    </div>
    <div class="toolbar">
      <div class="tool">
        <i class="fa fa-tag"></i>
      </div>
      <div class="tool">
        ADP
      </div>
    </div>
  </div>
</div>
