---
layout: default
---

<div class="entirety">
  <!-- post -->
  <div class="browser">
    <article
      class="post"
      id="post"
      itemscope
      itemtype="http://schema.org/BlogPosting"
    >
      {{ content }}
    </article>
  </div>
    <!-- archive -->
    <div class="archive">
      asdfasdfadsf asdfasdfadsfa sdfasdfasdf
      <div class="toolbar"></div>
    </div>
    <!-- outline -->n
    <div class="outline">
      asdfasdfadsf asdfasdfadsfa sdfasdfasdf a a a
      <div class="toolbar"></div>
    </div>
  </div>
