---
layout: default
---

<div class="entirety">
  <div class=" browser">
    <article
      class="post"
      id="post"
      itemscope
      itemtype="http://schema.org/BlogPosting"
    >
      <h1>{{ page.title }}</h1>
      <div class="post_info">
        <!-- address -->
        {% if page.address %}
        <span>
          <i class="fa fa-link"></i>
          <a href="{{ page.address[1] }}">{{ page.address[0] }}</a>
        </span>
        {% endif %} &nbsp;
        <!-- author -->
        {% if page.author %}
        <span>
          <i class="fa fa-user-secret"></i>
          {{ page.author }}
        </span>
        {% endif %} &nbsp;
        <!-- date -->
        {% if page.date %}
        <span>
          <i class="fa fa-clock-o"></i>
          {{ page.date | date: "%b %d, %Y" }}
        </span>
        {% endif %} &nbsp;
        <!-- category -->
        {% if page.tags %}
        <span>
          <i class="fa fa-tag"></i>
          {{ page.tags }}
        </span>
        {% endif %}
      </div>
      <!-- abstract -->
      <div class="abstract">
        {% if page.abstract %}
        <p>{{ page.abstract }}</p>
        {% endif %}
      </div>
      <!-- content -->
      {{ content }}
    </article>
  </div>
</div>
